html,
body,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-bk {
  background: #100c2a;
}

ul,
li {
  list-style: none;
}

html::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

html::-webkit-scrollbar-track,
.overflowScroll::-webkit-scrollbar-track {
  background-color: #0cbb92;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb,
.overflowScroll::-webkit-scrollbar-thumb {
  background-color: #0cbb92;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
